<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zotratr.</title>
    <link rel="icon" href="assets/favicon.ico">
    <link href="index.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="sidebar" id="sidebar">
        <a href="#" class="Logo">
            <img src="assets/short_logo.png" alt="Zotratr Logo">
        </a> 
        
        <div class="rectangle"></div>
        
        <div class="menu-items">
            <button class="Name">
                <img src="assets/profile.png" alt="Name"/>
                <span class="NameToolTip"> Profile </span>
            </button>
    
            <button class="Search">
                <img src="assets/search.png" alt="Search"/>
                <span class="SearchToolTip"> Search </span>
            </button> 
    
            <button class="Links">
                <img src="assets/links.png" alt="Links" />
                <span class="LinksToolTip"> Links </span>
            </button> 
    
            <button class="Feedback">
                <img src="assets/feedback.png" alt="Feedback" border="0" />
                <span class="FeedbackToolTip">Feedback</span>
            </button>
    
            <button class="Settings">
                <img src="assets/settings.png" alt="Settings" border="0" />
                <span class="SettingsToolTip">Settings</span>
            </button>
            
            <form action="/logout?_method=DELETE" method="POST">
                <button class="Logout">
                    <img src="assets/logout.png" alt="Logout" border="0" />
                    <span class="LogoutToolTip">Logout</span>
                </button> 
            </form>
           
        </div>

    </div>
    <div class="homepage-container">
        <h1>Welcome <%= name %>!</h1>

        <form action="/results" method="POST">
            <div class="searchbar-container">
                <div class="filter-container">
                    <label for="filter">Filter</label>
                    <select name="filter" id="filter">
                        <option value="all">all</option>
                        <option value="prof">professors</option>
                        <option value="building">buildings</option>
                    </select>
                </div>
                <div class="filter-search-container">
                    <label for="search">Search</label>
                    <input name="search" id="search" type="text" placeholder="Professor, Building">
                </div>
                
                <div class="submit">
                    <button type="submit">Submit</button>
                </div>
            </div>
            
        </form>
    </div>
</body>
</html>


