<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zotratr.</title>
    <link rel="icon" href="assets/favicon.ico">
    <link href="index.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="sidebar" id="sidebar">
        <a href="#" class="Logo">
            <img src="assets/short_logo.png" alt="Zotratr Logo">
        </a> 
        <!-- <hr> -->
        <div class="rectangle"></div>
        <a href="#" class="Name">
            <img src="assets/profile.png" alt="Name"/>
        </a>
        <div class="name-hide">Name</div>

        <a href="#" class="Search">
            <img src="assets/search.png" alt="Search" />
        </a> 
        <div class="search-hide">Search</div>

        <a href="#" class="Links">
            <img src="assets/links.png" alt="Links" />
        </a> 
        <div class="links-hide">Links</div>

        <a href="#" class="Feedback">
            <img src="assets/feedback.png" alt="Feedback" />
        </a>
        <div class="feedback-hide">Feedback</div>

        <a href="#" class="Settings">
            <img src="assets/settings.png" alt="Settings" />
        </a>
        <div class="settings-hide">Settings</div>

        <!-- <a href="#" class="Logout">
            <img src="assets/logout.png" alt="Logout"/>
        </a>  -->
        <div class="logout-hide">Logout</div>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit"><img src="assets/logout.png" alt="Logout"/></button>
        </form>

    </div>
    <h1>Welcome <%= name %>!</h1>
    

    <form action="/results" method="POST">
        <label for="search">Search</label>
        <input name="search" id="search" type="text" placeholder="Professor, Building">
        <button type="submit">Submit</button>
    </form>

</body>
</html>


