@font-face {
    font-family: 'Calibri';
    src: local('Calibri'), sans-serif;
}

body {
    background-color: #defffe;
    font-family: 'Calibri', sans-serif;
}

.img {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
}

.form-container{
    display: grid;
    grid-template-columns: none;
    align-items: center;
    justify-content: center;
    background-color: #bee9e8;
    border-radius: 10px;
    padding: 40px 50px 50px 50px;
    gap: 2vw;
}

.login-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.submit {
    display: grid;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #62b6cb;
    color: white;
    border-radius: 8px;
    padding: 5px 8px 5px 8px;
    border-color: #62b6cb;
    font-size: 16px;
}

input {
    border-radius: 6px;
    border-color: #62b6cb;
}

label {
    font-size: 18px;
}

.login-title {
    font-weight: bold;
    font-size: 28px;
}