.result-box{
    border-width: 3px;
    border-color: black;
    background-color: #fffdaf;
}

@font-face {
    font-family: 'Calibri';
    src: local('Calibri'), sans-serif;
}

body {
    background-color: #defffe;
    margin: 0px;
    display:flex;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
}
  
.rectangle {
    background-color:  #bee9e8;
    height: 5px;
    width: 80px;
    border-radius: 10px;
    margin: 0 auto;
}

.sidebar {
    height: 100vh;
    width: 150px;
    background-color: #62b6cb;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.sidebar img {
    width: 70%; 
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}

.menu-items {
    padding: 20px;
}

.resultspage-container {
    padding-left: 30px;
    padding-top: 30px;
}

h1 {
    display: flex;
    justify-content: center;
}

.searchbar-container {
    display: grid;
    background-color: #bee9e8;
    border-radius: 10px;
    padding: 40px 50px 50px 50px;
    gap: 1vw;
}

.reviewspage-container button,
.createreview-submit button{
    /* display: grid;
    align-items: center;
    justify-content: center; */
    background-color: #62b6cb;
    color: white;
    border-radius: 8px;
    padding: 5px 8px 5px 8px;
    border-color: #62b6cb;
    font-size: 16px;
}

.reviewspage-container {
    padding-top: 30px;
    padding-left: 30px;
}

.createreview-container {
    display: grid;
    grid-template-columns: none;
    background-color: #bee9e8;
    animation: FadeIn 0.75s ease-in-out forwards;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    gap: 0.5vw;
}

@keyframes FadeIn {
    from {
        background-color: #fffdaf;
    }
    to {
        background-color: #bee9e8;
    }
}

.descriptionbox-container {
    display: grid;
    grid-template-columns: none;
    gap: 0.5vw;
}

.descriptionbox-container textarea {
    border: 2px solid #62b6cb;
    border-radius: 8px;
}

.radio-container label {
    display: grid;
    grid-template-columns: none;
}

input,
.filter-container select {
    border-radius: 6px;
    border-color: #62b6cb;
}

.filter-container select{
    border-width: 2px;
}

.Name,
.Search,
.Links,
.Feedback,
.Settings,
.Logout {
    position: relative;
    /* display: grid; */
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.menu-items {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.NameToolTip,
.SearchToolTip,
.LinksToolTip,
.FeedbackToolTip,
.SettingsToolTip,
.LogoutToolTip
{
    visibility: hidden;
    background-color: #62b6cb;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 40px; 
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.Name:hover .NameToolTip,
.Search:hover .SearchToolTip,
.Links:hover .LinksToolTip,
.Feedback:hover .FeedbackToolTip,
.Settings:hover .SettingsToolTip,
.Logout:hover .LogoutToolTip
 {
    visibility: visible;
    opacity: 1;
}

.main-content {
    margin-left: 70px;
    color: #1f1f1f;
}

