body {
    background-color: #defffe;
    font-family: 'Poppins', sans-serif;
  }
  
  /* .class {
    height: 100px;
  } */


.sidebar {
    height: 100%;
    width: 5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #62b6cb;
    overflow-x: visible;
    justify-content: space-between;
}
.sidebar img {
    background-color: #eae9e9;
    border-radius: 60%; /* circle */
    width: 100%; 
    height: auto; 
    display: inline-block;
}

.Name{
    position: relative;
    display: inline-block;
}

.NameToolTip{
    visibility: hidden;
    background-color: #62b6cb;
    color: #eae9e9;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 10px; 
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.Name:hover .NameToolTip {
    visibility: visible;
    opacity: 1;
}

.Search {
    position: relative;
    display: inline-block
}

.SearchToolTip{
    visibility: visible;
    background-color: #62b6cb;
    color: #eae9e9;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 10px; 
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.Search:hover .SearchToolTip {
    visibility: visible;
    opacity: 1;
}

.Links {
    position: relative;
    display: inline-block
}

.LinksToolTip{
    visibility: visible;
    background-color: #62b6cb;
    color: #eae9e9;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 10px; 
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.Links:hover .LinksToolTip {
    visibility: visible;
    opacity: 1;
}


.Feedback{
    position: relative;
    display: inline-block
}

.FeedbackToolTip{
    visibility: visible;
    background-color: #62b6cb;
    color: #eae9e9;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 10px; 
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.Feedback:hover .FeedbackToolTip {
    visibility: visible;
    opacity: 1;
}


.Settings{
    position: relative;
    display: inline-block
}

.SettingsToolTip{
    visibility: visible;
    background-color: #62b6cb;
    color: #eae9e9;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 10px; 
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.Settings:hover .SettingsToolTip {
    visibility: visible;
    opacity: 1;
}

.Logout{
    position: relative;
    display: inline-block
}

.LogoutToolTip{
    visibility: visible;
    background-color: #62b6cb;
    color: #eae9e9;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 10px; 
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.Logout:hover .LogoutToolTip {
    visibility: visible;
    opacity: 1;
}

/* .logo-header {
    margin-left: 70px;
} */

.main-content {
    margin-left: 70px;
    text-align: center;
    background-color: #eae9e9;
}

@media screen and (max-width: 600px) {
    .main-content {
        margin-left: 50px; 
    }
}

@media screen and (max-width: 400px) {
    .main-content {
        margin-left: 20px;
    }
}